services:
  asset-server:
    build:
      context: .
      dockerfile: docker/frankenphp/Dockerfile.frankenphp
    ports:
      - "8180:80"
    volumes:
      - .:/app
    env_file: .env
    environment:
      - APP_ENV=${APP_ENV}
      - CADDY_GLOBAL_OPTIONS=${CADDY_GLOBAL_OPTIONS}
      - FRANKENPHP_CONFIG=${FRANKENPHP_CONFIG}
      - SERVER_NAME=:80
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
