services:
  asset-server:
    build:
      context: .
      dockerfile: docker/frankenphp/Dockerfile.frankenphp
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - .:/app
    environment:
      - APP_ENV=${APP_ENV}
      - CADDY_GLOBAL_OPTIONS=${CADDY_GLOBAL_OPTIONS}
      - FRANKENPHP_CONFIG=${FRANKENPHP_CONFIG}
      - SERVER_NAME=${SERVER_NAME}
    env_file: /opt/xaddax/.env
    extra_hosts:
      - "host.docker.internal:host-gateway"
    restart: unless-stopped
